@model IEnumerable<AdunbiKiddies.Models.Merchant>

@{
    ViewBag.Title = "Approve Merchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> <strong >
        <br/>
        <span style="color: green">Approve</span> <span style="color: red">Merchant</span>
    </strong>
    <br/>
</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@ 
</p>
<table class="table">
    <tr style="margin: 5px">
        <th>@*style="border-color:red"*@
            @Html.DisplayNameFor(model => model.IsVerified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PartnerShipAgreement.WebisteLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PreferedStoreName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.IsReffered)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.BusinessEntry)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.IdCardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>*@

        @*<th>
            @Html.DisplayNameFor(model => model.TownOfBirth)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Passport)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="margin-bottom: 5px">
        <td>
            @Html.DisplayFor(modelItem => item.IsVerified)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        @*<td>
        @Html.DisplayFor(modelItem => item.MiddleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PartnerShipAgreement.WebisteLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PreferedStoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessEntry)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.IdCardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNo)
        </td>*@

        @*<td>
            @Html.DisplayFor(modelItem => item.TownOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateOfOrigin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Passport)
        </td>
        <td>
            <button class="btn btn-sm" style="color: Black; border-color: green">
                @Html.ActionLink("Approve Merchant", "ApproveMerchant", new {id = item.MerchantId})
            </button>


        </td>
    </tr>
}

</table>
