@model IEnumerable<AdunbiKiddies.Models.Merchant>

@{
    ViewBag.Title = "Approve Merchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> <strong >
        <br/>
        <span style="color: green">Approve</span> <span style="color: red">Merchant</span>
    </strong>
    <br/>
</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@ 
</p>
<table class="table">
    <tr style="margin: 5px">
        <th>@*style="border-color:red"*@
            @Html.DisplayNameFor(model => model.IsVerified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.PartnerShipAgreement.WebisteLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.Passport)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="margin-bottom: 5px">
        <td>
            @Html.DisplayFor(modelItem => item.IsVerified)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.PartnerShipAgreement.WebisteLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Passport)
        </td>
        <td>
            @*<button class="btn btn-sm" style="color: Black; border-color: green">*@
                @Html.ActionLink("Approve Merchant", "Approve", new {id = item.MerchantId})
            @*</button>*@


        </td>
    </tr>
}

</table>
