@model IEnumerable<AdunbiKiddies.Models.Merchant>

@{
    ViewBag.Title = "Merchant Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <strong>
        <br />
        <span style="color: green">List Of </span> <span style="color: red">Merchants</span>
    </strong>
    <br />
</h2>

<p>
    &nbsp;
</p>
<table class="table">
    <tr class="table-bordered" style="color: #82c158; font-weight: bold; border-bottom: 1px solid red ">
        
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartnerShipAgreement.WebisteLink)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.PreferedStoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReffered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCardName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVerified)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
        
        @*<th>
            @Html.DisplayNameFor(model => model.TownOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Passport)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="autosize">
        
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartnerShipAgreement.WebisteLink)
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.PreferedStoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessEntry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCardName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNo)
        </td>
        <td class="checkbox-danger error">
            @Html.DisplayFor(modelItem => item.IsVerified)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>*@
        
        @*<td>
            @Html.DisplayFor(modelItem => item.TownOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateOfOrigin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Passport)
        </td>
        <td>
                @Html.ActionLink("Details", "Details", new {id = item.MerchantId})

         

                @*@Html.ActionLink("Delete", "Delete", new {id = item.MerchantId})*@
        </td>
    </tr>
}

</table>

