@model PagedList.IPagedList<AdunbiKiddies.Models.Product>

@using AdunbiKiddies.Models
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_LayoutBigStore.cshtml";
    ViewBag.Title = "Products";
    var storeSection = (List<StoreSection>)ViewBag.StoreSection;

}


<!-- Button trigger modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div aria-hidden="true" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>An item was added to your cart.</strong> To check out now simply <a href="#" class="alert-link">click here</a>.
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm check out.</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to check out or keep shopping??</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Check Out</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Action("Menu", "Products")
    </div>
    <div class="col-md-8">
    
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.StockQuantity != null)
                 {

                     <div class="products-row">
                         <div class="col-xs-6 col-sm-4 product-grids">
                             <div class="flip-container">
                                 <div class="flipper agile-products">
                                     <div class="front">

                                         <img src="@Url.Action("RenderImage", new {ProductId = item.ProductId})" class="img-responsive" alt="img">
                                         @*<img src="@ViewBag.Image" class="img-responsive" alt="img" />*@
                                         <div class="agile-product-text">
                                             <h5>@Html.DisplayFor(modelItem => item.Name)</h5><br/>

                                             <span class="text-sm">Left(@item.StockQuantity)<br/></span>
                                             <span class="text-sm">Price:(@item.Price)<br /></span>
                                             <span class="text-sm">(@item.DiscountPrice)</span>
                                         </div>
                                     </div>
                                     <div class="back">
                                         <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                                         <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                         <h6>@Html.DisplayFor(modelItem => item.Price)<sup>#</sup></h6>
                                         <a href="#" class="AddLink w3ls-cart pw3ls-cart fa fa-cart-plus"
                                            data-id="@item.ProductId" data-toggle="modal" data-target="#myModal">
                                             Add to cart
                                         </a>

                                         @Html.ActionLink("More", "Details", new {id = item.ProductId})
                                         @if (Request.IsAuthenticated && (User.IsInRole("Admin") || (User.IsInRole("SalesRep"))))
                                         {
                                             @Html.ActionLink("Edit", "Edit", new {id = item.ProductId})
                                             @Html.ActionLink("Delete", "Delete", new {id = item.ProductId})
                                         }

                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 }
            }

        </div>



        @*</table>*@
        <br />
        <div class="btn-group pull-right">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>