@model IEnumerable<AdunbiKiddies.Models.MerchantPayment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Merchant.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountPayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Merchant.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MerchantPaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MerchantPaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MerchantPaymentId })
        </td>
    </tr>
}

</table>
