@model IEnumerable<AdunbiKiddies.Models.Sale>

@{
    ViewBag.Title = "DailySales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DailySales</h2>

<div class="bs-docs-section">
    <div class="row">
        @*@using (Html.BeginForm("DailySales", "Sales", FormMethod.Get))
                {

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Find: </span>
                            <input type="date" name="Subject" placeholder="Phone Number" required="">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control", @type = "date"} })
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-info btn-sm" value="Search" />
                            </span>
                        </div>
                    </div>
                }
            </div>*@
        @Html.Action("DailyDate", "Sales")
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SaleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SaleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SaleId })
            </td>
        </tr>
    }
</table>