@model AdunbiKiddies.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutSales.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Register Account</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                  
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="#">&nbsp;</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Register</li>
            </ul>
        </div>
    </div>
</div>
<div style="width:50%; margin:0 auto">
    <div class="container padding-bottom-3x mb-2">
        <div class="row">

            <!-- Login Side Section Should go here-->
            <!-- Register Section comes here with the BS col-6-md class -->
            <div class="col-md-6">
                <div class="padding-top-3x hidden-md-up"></div>
                @*<h3 class="margin-bottom-1x">&nbsp;</h3>*@

                <form class="row" action="@Url.Action("Register","Account")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-fn">First Name</label>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @*<input class="form-control" type="text" id="reg-fn" required>*@
                        </div>
                    </div>
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-ln">Middle Name</label>
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                                @*<input class="form-control" type="text" id="reg-ln" required>
                            </div>
                        </div>
                    *@
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-ln">Last Name</label>
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            @*<input class="form-control" type="text" id="reg-ln" required>*@
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-email">E-mail Address</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @*<input class="form-control" type="email" id="reg-email" required>*@
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-phone">Phone Number</label>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            @*<input class="form-control" type="text" id="reg-phone" required>*@
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-pass">Password</label>
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                            @*<input class="form-control" type="password" id="reg-pass" required>*@
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="reg-pass-confirm">Confirm Password</label>
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @*<input class="form-control" type="password" id="reg-pass-confirm" required>*@
                        </div>
                    </div>
                    <div class="col-12 text-center text-sm">
                        <input class="btn btn-primary margin-bottom-none" type="submit" value="Register" />
                    </div>
                </form>
            </div>
            <!-- Register Sectio ends here-->
        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
