@Model<AdunbiKiddies.Models.Contact>

@{ 
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_LayoutSales.cshtml";
}

          <div class="page-title">
              <div class="container">
                  <div class="column">
                      <h1>@ViewBag.Title.</h1>
                  </div>
                  <div class="column">
                      <ul class="breadcrumbs">
                          <li>
                              <a href="#">Reach US</a>
                          </li>
                          <li class="separator">&nbsp;</li>
                          <li>
                              <a href="account-orders.html">&nbsp;</a>
                          </li>
                          <li class="separator">&nbsp;</li>
                          <li>@ViewBag.Title</li>
                      </ul>
                  </div>
              </div>
          </div>

@*Put any of desired single page content here*@
          <div style="width:75%; margin:0 auto">
<div class="reservation_top">
        <div class="contact_right">

            <h5><strong> We will respond to you shortly.</strong></h5>
            <div class="contact-form">
                @*<form method="post" action="contact-post.html">
                    <input type="text" class="textbox" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                    <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    <textarea value="Message" onfocus="this.value= '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                    <input type="submit" value="Send">
                    <div class="clearfix"> </div>
                </form>*@
                @Html.Partial("~/Views/Shared/_Contact.cshtml")

            </div>
        </div>
    </div></div>


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
