@model IEnumerable<AdunbiKiddies.Models.StoreSection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <strong>
        <br />
        <span style="color: green">List Of</span> <span style="color: red">Store-Sections</span>
    </strong>
    <br />
</h2>

<p style="color:deepskyblue">
    @Html.ActionLink("Create New", "Create")
    <br/>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoreSectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StoreSectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoreSectionId })
        </td>
    </tr>
}

</table>
