@model AdunbiKiddies.ViewModel.ShoppingCartViewModel

@*<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function (event) {
            event.preventDefault();
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete !== '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount === 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>*@
<a href="@Url.Action("Index","ShoppingCart")"></a><i class="icon-bag"></i><span class="count">@Model.CartItems.Count</span><span class="subtotal">#@Model.CartTotal</span>
<div class="toolbar-dropdown">
    @if (Model.CartItems.Count > 0) 
    {
    foreach (var cart in Model.CartItems)
    {
        <div id="row-@cart.CartId" class="dropdown-product-item">
            <span class="dropdown-product-remove">
            @using (Ajax.BeginForm("RemoveFromCart", "ShoppingCart", new AjaxOptions() {UpdateTargetId = "mycart" }))
            {
                               
                <input style = "display:none" type="text" id="productid" name="productid"  value="@cart.ProductId" required>

                <button class="dropdown-product-remove"><i class="icon-cross"></i></button>
            }
          
                </span><a class="dropdown-product-thumb" href="shop-single.html"><img src="@Url.Action("RenderImage", "Product", new {ProductId = cart.ProductId})" alt="Product"></a>
            <div class="dropdown-product-info"><a class="dropdown-product-title" href="shop-single.html">@cart.Product.Name</a><span class="dropdown-product-details">@cart.Count x @cart.Product.DiscountPrice</span>
            </div>
        </div>
    }
    }
 
  
    <div class="toolbar-dropdown-group">
        <div class="column"><span class="text-lg">Total:</span>
        </div>
        <div class="column text-right"><span class="text-lg text-medium">#@Model.CartTotal&nbsp;</span>
        </div>
    </div>
    <div class="toolbar-dropdown-group">
        <div class="column"><a class="btn btn-sm btn-block btn-secondary" href="@Url.Action("Index","ShoppingCart")">View Cart</a>
        </div>
        <div class="column"><a class="btn btn-sm btn-block btn-success" href="@Url.Action("AddressAndPayment","Checkout")">Checkout</a>
        </div>
    </div>
</div>

