@using AdunbiKiddies.Models
@using PagedList.Mvc
@model PagedList.IPagedList<AdunbiKiddies.Models.Product>
 
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutSales.cshtml";
        var storeSection = (List<StoreSection>)ViewBag.StoreSection;

}

<br/>

<div class="container padding-bottom-3x mb-1">
<div class="row">
<!-- Products-->
<div class="col-xl-9 col-lg-8 order-lg-2">
    <!-- Shop Toolbar-->
    <div class="shop-toolbar padding-bottom-1x mb-2">
        <div class="column">
            <div class="shop-sorting">
                <label for="sorting">Sort by:</label>
                <select class="form-control" id="sorting">
                    <option>Popularity</option>
                    <option>Low - High Price</option>
                    <option>High - Low Price</option>
                    <option>Avarage Rating</option>
                    <option>A - Z Order</option>
                    <option>Z - A Order</option>
                </select><span class="text-muted">Showing:&nbsp;</span><span>1 - 12 items</span>
            </div>
        </div>
        <div class="column">
        </div>
    </div>
    <!-- Products Grid-->
    <div class="isotope-grid cols-3 mb-2">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <!-- Product-->
        @foreach (var item in Model)
        {
            if (item.StockQuantity != null)
            {
                <div class="grid-item">
                    <div class="product-card">
                        <div class="rating-stars">@item.ProductDiscount % Off</div>
                        <div class="product-badge text-danger">(@item.StockQuantity)</div><a class="product-thumb" href="@Url.Action("Details", new {id=item.ProductId})"><img src="@Url.Action("RenderImage", new {ProductId = item.ProductId})" alt="Product"></a>
                        <h3 class="product-title"><a href="@Url.Action("Details", new {id=item.ProductId})">@item.Name</a>
                        </h3>
                        <h4 class="product-price">
                            <del>#@item.Price</del>#@item.DiscountPrice
                        </h4>
                        <div class="product-buttons">
                            <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i class="icon-heart"></i></button>
                            <button class="btn btn-outline-primary btn-sm" id="AddLink" data-id="@item.ProductId">Add to Cart</button>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <!-- Pagination-->
    <nav class="pagination">
        <div class="btn-group pull-right">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @*@Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
        </div>
        @*<div class="column">
            <ul class="pages">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>...</li>
                <li><a href="#">12</a></li>
            </ul>
        </div>*@
        <div class="column text-right hidden-xs-down"><a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Index", new {sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">Next&nbsp;<i class="icon-arrow-right"></i></a>
        </div>
    </nav>
</div>
<!-- Sidebar          -->
<div class="col-xl-3 col-lg-4 order-lg-1">
    <aside class="sidebar">
        <div class="padding-top-2x hidden-lg-up"></div>
        <!-- Widget Categories-->
        <section class="widget widget-categories">
            <h3 class="widget-title">Shop Categories</h3>
            <ul>
                @foreach (var sec in storeSection)
                {
                    <li class="has-children expanded"><a href="#">@sec.SectionName</a><span>(1138)</span>
         
                        @foreach (var category in sec.Categories.Where(x => x.StoreSectionId.Equals(sec.StoreSectionId)))
                        {
                            <ul>
                                <li><a href="@Url.Action("Index", "Product", new
                                             {
                                                 category = category.Name,
                                                 page = 1

                                             })">@category.Name</a><span>(508)</span>
                        
                                </li>
                    
                    
                            </ul>
                        }
                    </li>
                }
            </ul>
      
        </section>
        <!-- Widget Price Range-->
        <section class="widget widget-categories">
            <h3 class="widget-title">Price Range</h3>
            <form class="price-range-slider" method="post" data-start-min="250" data-start-max="650" data-min="0" data-max="1000" data-step="1">
                <div class="ui-range-slider"></div>
                <footer class="ui-range-slider-footer">
                    <div class="column">
                        <button class="btn btn-outline-primary btn-sm" type="submit">Filter</button>
                    </div>
                    <div class="column">
                        <div class="ui-range-values">
                            <div class="ui-range-value-min">$<span></span>
                                <input type="hidden">
                            </div>&nbsp;-&nbsp;
                            <div class="ui-range-value-max">$<span></span>
                                <input type="hidden">
                            </div>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
        <!-- Widget Brand Filter-->
        <section class="widget">
            <h3 class="widget-title">Filter by Brand</h3>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">Adidas&nbsp;<span class="text-muted">(254)</span></span>
            </label>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">Bilabong&nbsp;<span class="text-muted">(39)</span></span>
            </label>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">Calvin Klein&nbsp;<span class="text-muted">(128)</span></span>
            </label>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">Nike&nbsp;<span class="text-muted">(310)</span></span>
            </label>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">Tommy Bahama&nbsp;<span class="text-muted">(42)</span></span>
            </label>
        </section>
        <!-- Widget Size Filter-->
        <section class="widget">
            <h3 class="widget-title">Filter by Size</h3>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">XL&nbsp;<span class="text-muted">(208)</span></span>
            </label>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">L&nbsp;<span class="text-muted">(311)</span></span>
            </label>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">M&nbsp;<span class="text-muted">(485)</span></span>
            </label>
            <label class="custom-control custom-checkbox d-block">
                <input class="custom-control-input" type="checkbox"><span class="custom-control-indicator"></span><span class="custom-control-description">S&nbsp;<span class="text-muted">(213)</span></span>
            </label>
        </section>
        <!-- Promo Banner-->
        <section class="promo-box" style="background-image: url(img/banners/02.jpg);">
            <!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.--><span class="overlay-dark" style="opacity: .45;"></span>
            <div class="promo-box-content text-center padding-top-3x padding-bottom-2x">
                <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                <h3 class="text-bold text-light text-shadow">Sunglassess</h3><a class="btn btn-sm btn-primary" href="#">Shop Now</a>
            </div>
        </section>
    </aside>
</div>
</div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (event) {
        event.preventDefault();
        // Document.ready -> link up remove event handler
        $("#AddLink").click(function (event) {
            event.preventDefault();
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            window.alert(recordToAdd);
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        var url = "/ShoppingCart/PartialIndex";
                        $('#mycart').load(url);
                        toastr["success"](data.status);
                    });
            }
        });
    });
</script>