@using Microsoft.AspNet.Identity
@*@model AdunbiKiddies.ViewModels.SearchProductViewModel*@

<div class="header">
    <div class="top-header">
        <div class="container">

            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header w3l_logo">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/Template/assets/images/Ajaoko_Logo.png" width="100" height="50" alt="Ajaoko" />
                    <h1><a href="@Url.Action("Index","Home")"><span>Quality Farm Products</span></a></h1>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("Products", "Index", "Product")</li>
                        <li>@Html.ActionLink("Mechants", "About", "Home")</li>
                        <li>@Html.ActionLink("Professional", "About", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>

                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <!-- //navigation -->
    <!-- header -->
    <div class="header">
        <div class="w3ls-header">
            <!-- header-one -->
            <div class="container">
                <div class="w3ls-header-left">
                    <p>Free home delivery at your doorstep For Above (Specify Amount)</p>
                </div>
                <div class="w3ls-header-right">
                    <ul>
                        <li class="head-dpdn">
                            <i class="fa fa-phone" aria-hidden="true"></i> Call us: 234 803 412 8919
                        </li>

                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                @*<li class="active">@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>*@
                               
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                

                            }
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    
                            </li>
                        }
                        else
                        {
                            <li class="head-dpdn">
                                @Html.ActionLink("Log in", "Login", "Account")
                            </li>
                            <li class="head-dpdn">
                                @Html.ActionLink("Sign Up", "Register", "Account")
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>