@model AdunbiKiddies.ViewModels.OrderPaymentVm

@{
    ViewBag.Title = "Address And Payment";
    Layout = "~/Views/Shared/_LayoutBigStore.cshtml";

}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/card.js"></script>
<link rel="stylesheet" href="~/Content/card.css">
<script>
    $('.active form').card({ container: $('.card-wrapper') });
    $('form').card({
        // a selector or jQuery object for the container
        // where you want the card to appear
        container: '.card-wrapper', // *required*
        numberInput: 'input#number', // optional — default input[name="number"]
        expiryInput: 'input#expiry', // optional — default input[name="expiry"]
        cvcInput: 'input#cvc', // optional — default input[name="cvc"]
        nameInput: 'input#name', // options - defaults input[name="name"]

        width: 200, // optional — default 350px
        formatting: true // optional - default true
    });
</script>

<div class="well">
    <h3>Shipping Details</h3>
    <p>
        <ul>
            <li>State: <span>@Model.ShippingDetail.StateName</span></li>
            <li>Town: <span>@Model.ShippingDetail.TownName</span></li>
            <li>Street: <span>@Model.ShippingDetail.StateName</span></li>
            <li>Building No: <span>@Model.ShippingDetail.BuildingNo</span></li>
            <li>Address Type: <span>@Model.ShippingDetail.AddressType</span></li>
        </ul>
    </p>
</div>

<div class="col-lg-10">
  <div class="well bs-component">
    @using (Html.BeginForm("MakePayment", "Checkout", FormMethod.Post))
    {
       <h2>Customer's Information</h2>
        <fieldset>
            @*<legend>Customer's Information</legend>*@

            @Html.HiddenFor(m => Model.CustomerId)
            @*@Html.HiddenFor(m => Model.SaleId)*@
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <br>

        
            <div class="form-group">
                @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "true"} })
                    @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                </div>
            </div>
   

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary">Pay for Order &raquo;</button>
                </div>
            </div>
        </fieldset>
    }
  </div>
</div>

@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")
}
